## Tuples

Python strings, lists and tuples are sequence types. Lists and tuples are both ordered collection of objects. The elements of a list or a tuple can by any type of object, including other lists or tuples.

Lists use square brackets [] and are mutable.
Tuples use parenthesis () and are immutable. 

If tuples are like lists, then why do we need them?

There are situations when we need an immutable sequence of objects. For example, a tuple can be a key for a dict, but lists cannot because they are mutable.

### Create a tuple

A tuple can simply be created by assigning a list of comma-separated objects on the right-hand-side of the assignment operator.

In [3]:
t = 'a', 3, 5.6   # create a tuple
t

('a', 3, 5.6)

Tuple elements can be accessed by the same indexing notation that works on strings and lists: []

In [4]:
t[0]

'a'

### tuple unpacking

When a tuple is on the right hand side of an assignment statement, it's individuals elements are placed in order in the variables on the left hand side.

The second print statement below shows another use of tuple unpacking.

In [5]:
# unpack the tuple into 3 variables

astring, adigit, afloat = t
print(f'{adigit} {astring} {afloat}')

3 a 5.6

### tuple methods

Here are some commonly used tuple methods.

In [7]:
print('length = ', len(t))
print('count 1 = ', t.count('1'))
print('count 3 = ', t.count(3))
if 'pasta' in t:
    print('index = ', t.index('pasta'))

length =  3
count 1 =  0
count 3 =  1

### convert to/from list/tuple

The list() and tuple() functions can be used for conversion.

In [6]:
l = list(t)
print('type of l is', type(l))
t = tuple(t)
print('type of t is', type(t))

type of l is <class 'list'>
type of t is <class 'tuple'>

### Sets

Whereas lists, tuples, and strings are sequential data types, sets are unordered collections of objects. Further, no duplicates are allowed in sets. 

We can create a set with comma-separated objects enlosed in {}, as shown below. We can use the **in** operation to test for membership.

In [2]:
fruits = {'apple', 'banana', 'orange'}

'apple' in fruits

True

### set()

The set function can create a set from other objects such as a string a shown below by including only unique elements.

In [8]:
letter_set = set('elephant')
letter_set

{'a', 'e', 'h', 'l', 'n', 'p', 't'}

### set comprehensions

There is a set comprehension available that is comparable to the list comprehensions.

In [9]:
letters = {x for x in 'elephant'}
letters

{'a', 'e', 'h', 'l', 'n', 'p', 't'}

### operations on sets

Because sets are immutable we cannot change individual elements as follows:

fruits[0] = 'pear'   # not allowed

However there are methods to update, add, and remove elements but we will not cover those here. 

Note that you can iterate through a set just like we did for lists.

In [10]:
for fruit in fruits:
    print(fruit)

orange
apple
banana

Python also supports mathematical set operations like union, intersection, difference, and so forth. Again, the point here is to make you aware of the set data structure and methods which you can explore on your own if you find a need.